#body{    
    background-image: url(../assets/wall.jpg);
    background-size: cover;
    background-position: center;
    overscroll-behavior: none;
}
.navbar-brand{
  font-family: 'Secular One', sans-serif;
}
#main{
    min-height:100vh;
    background-color: rgba(000, 000, 000, 0.75);
    background-size: cover;
    padding-top:56px;
}
#bottom{
    position: absolute;
    bottom: 0;
}
